# <center> Aula Prático - Módulo 1 - Extração de Dados </center>
<div style="text-align: right">
    <b>Bootcamp Engenharia de Dados</b><br>
    <b>por</b> <i>Maycon Cypriano</i><br>
</div>

### <center> Extração de Dados do Enade </center>

> Link de Referência:
>>> https://download.inep.gov.br/microdados/Enade_Microdados/microdados_enade_2019.zip

#### <center> Importando as Bibliotecas </center>

In [1]:
import pandas as pd
import numpy as np
import zipfile
import requests
from io import BytesIO
import os

#### <center> Criando um diretório para armazenar o conteúdo </center>

In [3]:
os.makedirs('./enade2019', exist_ok = True)

#### <center> Extraindo os dados </center>

In [4]:
# criando uma variavel para sua captura
url = 'https://download.inep.gov.br/microdados/Enade_Microdados/microdados_enade_2019.zip'

# Faz o download do conteúdo
filebytes = BytesIO(
    requests.get(url).content

)

# Extrair o conteúdo do zipfle para pagina em questão
myzip = zipfile.ZipFile(filebytes)
myzip.extractall('./enade2019')

#### <center> Transformando os dados </center>

In [2]:
dados = pd.read_csv('./enade2019/microdados_enade_2019/2019/3.DADOS/microdados_enade_2019.txt', sep=';', decimal = ',')
dados

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2019,1,10002,10028,5710,3,1,5103403,51,5,...,2.0,5.0,1.0,1.0,2.0,5.0,8.0,7.0,1.0,2.0
1,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1.0,4.0,2.0,2.0,2.0,5.0,4.0,4.0,2.0,2.0
2,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,4.0,4.0,3.0,3.0,4.0,1.0,1.0,1.0,4.0
3,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,5.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,3.0
4,2019,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433925,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
433926,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
433927,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
433928,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
433929,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0

In [3]:
#verificando o schema da tabela
dict(dados.dtypes)

{'NU_ANO': dtype('int64'),
 'CO_IES': dtype('int64'),
 'CO_CATEGAD': dtype('int64'),
 'CO_ORGACAD': dtype('int64'),
 'CO_GRUPO': dtype('int64'),
 'CO_CURSO': dtype('int64'),
 'CO_MODALIDADE': dtype('int64'),
 'CO_MUNIC_CURSO': dtype('int64'),
 'CO_UF_CURSO': dtype('int64'),
 'CO_REGIAO_CURSO': dtype('int64'),
 'NU_IDADE': dtype('int64'),
 'TP_SEXO': dtype('O'),
 'ANO_FIM_EM': dtype('int64'),
 'ANO_IN_GRAD': dtype('float64'),
 'CO_TURNO_GRADUACAO': dtype('float64'),
 'TP_INSCRICAO_ADM': dtype('int64'),
 'TP_INSCRICAO': dtype('int64'),
 'NU_ITEM_OFG': dtype('int64'),
 'NU_ITEM_OFG_Z': dtype('int64'),
 'NU_ITEM_OFG_X': dtype('int64'),
 'NU_ITEM_OFG_N': dtype('int64'),
 'NU_ITEM_OCE': dtype('int64'),
 'NU_ITEM_OCE_Z': dtype('int64'),
 'NU_ITEM_OCE_X': dtype('int64'),
 'NU_ITEM_OCE_N': dtype('int64'),
 'DS_VT_GAB_OFG_ORIG': dtype('O'),
 'DS_VT_GAB_OFG_FIN': dtype('O'),
 'DS_VT_GAB_OCE_ORIG': dtype('O'),
 'DS_VT_GAB_OCE_FIN': dtype('O'),
 'DS_VT_ESC_OFG': dtype('O'),
 'DS_VT_ACE_OFG': dtype('O'),
 'DS_VT_ESC_OCE': dtype('O'),
 'DS_VT_ACE_OCE': dtype('O'),
 'TP_PRES': dtype('int64'),
 'TP_PR_GER': dtype('int64'),
 'TP_PR_OB_FG': dtype('int64'),
 'TP_PR_DI_FG': dtype('int64'),
 'TP_PR_OB_CE': dtype('int64'),
 'TP_PR_DI_CE': dtype('int64'),
 'TP_SFG_D1': dtype('int64'),
 'TP_SFG_D2': dtype('int64'),
 'TP_SCE_D1': dtype('int64'),
 'TP_SCE_D2': dtype('int64'),
 'TP_SCE_D3': dtype('int64'),
 'NT_GER': dtype('float64'),
 'NT_FG': dtype('float64'),
 'NT_OBJ_FG': dtype('float64'),
 'NT_DIS_FG': dtype('float64'),
 'NT_FG_D1': dtype('float64'),
 'NT_FG_D1_PT': dtype('float64'),
 'NT_FG_D1_CT': dtype('float64'),
 'NT_FG_D2': dtype('float64'),
 'NT_FG_D2_PT': dtype('float64'),
 'NT_FG_D2_CT': dtype('float64'),
 'NT_CE': dtype('float64'),
 'NT_OBJ_CE': dtype('float64'),
 'NT_DIS_CE': dtype('float64'),
 'NT_CE_D1': dtype('float64'),
 'NT_CE_D2': dtype('float64'),
 'NT_CE_D3': dtype('float64'),
 'CO_RS_I1': dtype('O'),
 'CO_RS_I2': dtype('O'),
 'CO_RS_I3': dtype('O'),
 'CO_RS_I4': dtype('O'),
 'CO_RS_I5': dtype('O'),
 'CO_RS_I6': dtype('O'),
 'CO_RS_I7': dtype('O'),
 'CO_RS_I8': dtype('O'),
 'CO_RS_I9': dtype('O'),
 'QE_I01': dtype('O'),
 'QE_I02': dtype('O'),
 'QE_I03': dtype('O'),
 'QE_I04': dtype('O'),
 'QE_I05': dtype('O'),
 'QE_I06': dtype('O'),
 'QE_I07': dtype('O'),
 'QE_I08': dtype('O'),
 'QE_I09': dtype('O'),
 'QE_I10': dtype('O'),
 'QE_I11': dtype('O'),
 'QE_I12': dtype('O'),
 'QE_I13': dtype('O'),
 'QE_I14': dtype('O'),
 'QE_I15': dtype('O'),
 'QE_I16': dtype('float64'),
 'QE_I17': dtype('O'),
 'QE_I18': dtype('O'),
 'QE_I19': dtype('O'),
 'QE_I20': dtype('O'),
 'QE_I21': dtype('O'),
 'QE_I22': dtype('O'),
 'QE_I23': dtype('O'),
 'QE_I24': dtype('O'),
 'QE_I25': dtype('O'),
 'QE_I26': dtype('O'),
 'QE_I27': dtype('float64'),
 'QE_I28': dtype('float64'),
 'QE_I29': dtype('float64'),
 'QE_I30': dtype('float64'),
 'QE_I31': dtype('float64'),
 'QE_I32': dtype('float64'),
 'QE_I33': dtype('float64'),
 'QE_I34': dtype('float64'),
 'QE_I35': dtype('float64'),
 'QE_I36': dtype('float64'),
 'QE_I37': dtype('float64'),
 'QE_I38': dtype('float64'),
 'QE_I39': dtype('float64'),
 'QE_I40': dtype('float64'),
 'QE_I41': dtype('float64'),
 'QE_I42': dtype('float64'),
 'QE_I43': dtype('float64'),
 'QE_I44': dtype('float64'),
 'QE_I45': dtype('float64'),
 'QE_I46': dtype('float64'),
 'QE_I47': dtype('float64'),
 'QE_I48': dtype('float64'),
 'QE_I49': dtype('float64'),
 'QE_I50': dtype('float64'),
 'QE_I51': dtype('float64'),
 'QE_I52': dtype('float64'),
 'QE_I53': dtype('float64'),
 'QE_I54': dtype('float64'),
 'QE_I55': dtype('float64'),
 'QE_I56': dtype('float64'),
 'QE_I57': dtype('float64'),
 'QE_I58': dtype('float64'),
 'QE_I59': dtype('float64'),
 'QE_I60': dtype('float64'),
 'QE_I61': dtype('float64'),
 'QE_I62': dtype('float64'),
 'QE_I63': dtype('float64'),
 'QE_I64': dtype('float64'),
 'QE_I65': dtype('float64'),
 'QE_I66': dtype('float64'),
 'QE_I67': dtype('float64'),
 'QE_I68': dtype('float64')}

> Vamos trabalhar com as seguintes colunas e valores

- CO_IES
- CO_CATEGAD
- CO_GRUPO
- CO_MODALIDADE
- CO_UF_CURSO
- CO_REGIAO_CURSO
- NU_IDADE
- TP_SEXO
- NT_GER
- NT_FG
- NT_CE

>> Mais alguns itens do questionario do estudads

- 01: Estado Cívil
- 02: Cor ou raça
- 04: Escolaridade do pai
- 05: Escolaridade da Mãe
- 08: Renda Familiar
- 10: Situação do Trabalho
- 11: Situação de bolsa
- 14: Intercâmbio
- 15: Cotas
- 23: Horas de Estudo / semana
- 25: Motivo de escolha do curso
- 26: Motivo de escolha do IES

In [4]:
# verificando a nota geral(NT_GER)
dados.NT_GER.describe()

count    390091.000000
mean         44.076610
std          14.542059
min           0.000000
25%          33.200000
50%          43.800000
75%          54.800000
max          93.000000
Name: NT_GER, dtype: float64

In [5]:
# contar o número de nulos
dadosIsNull = dados.NT_GER.isnull().sum()
#verificando o tamanho do dados
dadoTamanho = dados.shape
# quantidade relativa de nulos
dadosPorcento = dadosIsNull / dadoTamanho[0]

print(f'A quantidade de dados nulos é na ordem de {dadosPorcento.round(2)}%')

A quantidade de dados nulos é na ordem de 0.1%

In [6]:
#filtrando o dataframe apenas com os alunos da região NCentro Oese CO_REGIAO_CURSO indice 2 e colocando um describe

dadosNE = dados.loc[
    
    dados.CO_REGIAO_CURSO == 5
    
].NT_GER.describe()

dadosNE

count    30769.000000
mean        44.604609
std         14.489081
min          0.000000
25%         33.900000
50%         44.500000
75%         55.300000
max         91.600000
Name: NT_GER, dtype: float64

In [7]:
dados.loc[
    
    dados.NT_GER > 0
     ].NT_GER.describe()

count    389730.000000
mean         44.117437
std          14.486758
min           0.300000
25%          33.300000
50%          43.800000
75%          54.800000
max          93.000000
Name: NT_GER, dtype: float64

In [8]:
#contando valores
dados.TP_SEXO.value_counts()

F    233279
M    200651
Name: TP_SEXO, dtype: int64

In [9]:
#contando valores relativos
dados.TP_SEXO.value_counts() / dados.shape[0]

F    0.537596
M    0.462404
Name: TP_SEXO, dtype: float64

In [10]:
# filtando apenas alunos entre 20 e 50 anos (duas condições)

dados.loc[
    (dados.NU_IDADE >= 20) &
    (dados.NU_IDADE <= 50)
].NT_GER.describe()

count    385913.000000
mean         44.149504
std          14.528106
min           0.000000
25%          33.300000
50%          43.900000
75%          54.800000
max          93.000000
Name: NT_GER, dtype: float64

In [11]:
# VAMOS COMPARAR MÉDIAS, USANDO GROUPBY E AGG.

dados.groupby('CO_REGIAO_CURSO').agg({
"NT_GER": "mean",
"NT_FG": "mean",
"NT_CE": "mean"
    
}).round(2)

                 NT_GER  NT_FG  NT_CE
CO_REGIAO_CURSO
1                 40.28  37.12  41.32
2                 43.79  40.06  45.02
3                 44.02  40.14  45.29
4                 45.75  40.08  47.62
5                 44.60  39.18  46.40

In [12]:
dados['DESC_PUBLICA'] = "" #quando atribuimos uma string vazia, ele preenche toda extensao do dataset com string vazia
dados.loc[
         dados.CO_CATEGAD.isin([118, 120, 121, 10005, 10006, 10007, 10008, 10009, 17634]),
         "DESC_PUBLICA" #entre aspa é a coluna
         ] = "Privado"

In [13]:
dados['DESC_PUBLICA'] = "" #quando atribuimos uma string vazia, ele preenche toda extensao do dataset com string vazia
dados.loc[
         dados.CO_CATEGAD.isin([93, 115, 116, 10001, 10002, 10003]),
         "DESC_PUBLICA" #entre aspa é a coluna
         ] = "Público"

In [14]:
dados.DESC_PUBLICA.value_counts()

           332879
Público    101051
Name: DESC_PUBLICA, dtype: int64

In [15]:
dados.DESC_PUBLICA.value_counts() / dados.shape[0]

           0.767126
Público    0.232874
Name: DESC_PUBLICA, dtype: float64

In [16]:
# transformar a modalidade (transforma os valores da coluna MODALIDADE)

dados['CO_MODALIDADE'] = dados.CO_MODALIDADE.replace({
    0 : 'EaD',
    1 : 'Presencial'
})

dados.head(5)

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68,DESC_PUBLICA
0,2019,1,10002,10028,5710,3,Presencial,5103403,51,5,...,5.0,1.0,1.0,2.0,5.0,8.0,7.0,1.0,2.0,Público
1,2019,1,10002,10028,5710,3,Presencial,5103403,51,5,...,4.0,2.0,2.0,2.0,5.0,4.0,4.0,2.0,2.0,Público
2,2019,1,10002,10028,5710,3,Presencial,5103403,51,5,...,4.0,4.0,3.0,3.0,4.0,1.0,1.0,1.0,4.0,Público
3,2019,1,10002,10028,5710,3,Presencial,5103403,51,5,...,5.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,3.0,Público
4,2019,1,10002,10028,5710,3,Presencial,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Público

In [28]:
#transformar a regiao

dados['CO_REGIAO_CURSO'] = dados.CO_REGIAO_CURSO.replace({
    0 : 'NORTE',
    1 : 'NORDESTE',
    2 : 'SUDESTE',
    3 : 'SUL',
    4 : 'CENTRO'
})

dados.CO_REGIAO_CURSO.head(10)

0    5
1    5
2    5
3    5
4    5
5    5
6    5
7    5
8    5
9    5
Name: CO_REGIAO_CURSO, dtype: object

In [22]:
dados['DESC_COR'] = dados.QE_I02.replace({
    'A': "Branca",
    'B': 'Preta',
    'C': 'Amarelo',
    'D': 'Parda',
    'E': 'Indigina',
    'F': pd.NA,
    '' : pd.NA
})

In [24]:
dict(dados.DESC_COR.value_counts())

{'Branca': 220386,
 'Parda': 135770,
 'Preta': 32869,
 ' ': 26056,
 'Amarelo': 10093,
 'Indigina': 1300}

#### <center> Analisando algumas questões </center>

In [30]:
# Qual a nota geral média dos alunos da Região Nordete?

dados.loc[
    dados.CO_REGIAO_CURSO == 'NORDESTE', 'NT_GER'
].mean()

40.2827532988656

In [32]:
# Qual a média da nota do compontenete especifico dos aluno do Rio Grande do Sul dos curso de Engenharia ELetrica

dados.loc[
    (dados.CO_UF_CURSO == 43) &
    (dados.CO_GRUPO == 5806), 'NT_CE'
    
    
].mean()

34.79692671394829

In [34]:
#QUal é a media da nota do compotenente de formação geral de alunas do sexo feminino, pardas, de minas gerais do curso de genharia de produção

dados.loc[
    (dados.TP_SEXO == 'F') &
    (dados.DESC_COR == 'Parda') &
    (dados.CO_UF_CURSO == 31) &
    (dados.CO_MODALIDADE == 'Presencial') &
    (dados.CO_GRUPO == 6208), 'NT_FG'
    
    
].mean()

40.19142394822005

#### <center> FIM </center>