# <center> Aula Pr√°tico - M√≥dulo 1 - Extra√ß√£o dados Twitter </center>
<div style="text-align: right">
    <b>Bootcamp Engenharia de Dados</b><br>
    <b>por</b> <i>Maycon Cypriano</i><br>
</div>

### <center> Extra√ß√£o de Dados TwitterAPP </center>

> Start o projeto

In [1]:
!python coleta_tweet.py

^C

#### <center> Importando as bibliotecas </center>

In [58]:
!pip install pyodbc
!pip install pymssql

Requirement already satisfied: pyodbc in c:\users\batestin1\anaconda\lib\site-packages (4.0.0-unsupported)
Collecting pymssql
  Downloading pymssql-2.1.5-cp38-cp38-win_amd64.whl (423 kB)
Installing collected packages: pymssql
Successfully installed pymssql-2.1.5

In [59]:
import json
import pandas as pd
import pyodbc
import sqlalchemy
import pymssql

#### <center> Importando os dados </center>

In [2]:
with open('./logs/tweetsColetados.txt_2021-03-08-14-15-11', 'r') as arquivo:
    dados = arquivo.readlines()

In [3]:
# criando um parset do tweet para o arquivo dadosJson e exportando arquivo
with open('dadosJson.json', 'w') as j:
    json.dump(
            json.loads(json.loads(dados[0])),j )

In [4]:
dadosGeral = [json.loads( json.loads(i) ) for i in dados]

print(f"o tamanho de todos os tweets capturados com a palavra chave Bolsonaro √© {len(dados)}")

o tamanho de todos os tweets capturados com a palavra chave Bolsonaro √© 19686

#### <center> Trabalhando com chaves do Json </center>

In [5]:
primeiroTweet = dadosGeral[0]
segundoTweet = dadosGeral[1]
terceiroTweet = dadosGeral[2]

#acessando a primeira chave root
primeiroTweet["text"]

'RT @ThiagoResiste: Em pleno dia internacional da mulher, o machista Bolsonaro diz que vai se filiar ao Partido da Mulher Brasileira, que ap‚Ä¶'

In [6]:
#acessando a segunda chave do root

primeiroTweet['user']['name']

'‚ôàÔ∏è Eri Leite \uf8ff'

In [7]:
# pegando a informa√ß√£o do tweet original

primeiroTweet['retweeted_status']

{'created_at': 'Mon Mar 08 13:38:56 +0000 2021',
 'id': 1368919163528417280,
 'id_str': '1368919163528417280',
 'text': 'Em pleno dia internacional da mulher, o machista Bolsonaro diz que vai se filiar ao Partido da Mulher Brasileira, q‚Ä¶ https://t.co/eAY54hEDB5',
 'source': '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>',
 'truncated': True,
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 1270774020808626176,
  'id_str': '1270774020808626176',
  'name': 'Thiago Brasil',
  'screen_name': 'ThiagoResiste',
  'location': 'Brasil',
  'url': 'https://www.youtube.com/c/Plant%C3%A3oBrasil',
  'description': 'Lutando sempre contra a censura.',
  'translator_type': 'none',
  'protected': False,
  'verified': False,
  'followers_count': 11402,
  'friends_count': 1866,
  'listed_count': 28,
  'favourites_count': 9981,
  'statuses_count': 4723,
  'created_at': 'Wed Jun 10 17:45:19 +0000 2020',
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': False,
  'lang': None,
  'contributors_enabled': False,
  'is_translator': False,
  'profile_background_color': 'F5F8FA',
  'profile_background_image_url': '',
  'profile_background_image_url_https': '',
  'profile_background_tile': False,
  'profile_link_color': '1DA1F2',
  'profile_sidebar_border_color': 'C0DEED',
  'profile_sidebar_fill_color': 'DDEEF6',
  'profile_text_color': '333333',
  'profile_use_background_image': True,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1366940749892321281/7I2wLgKG_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1366940749892321281/7I2wLgKG_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1270774020808626176/1593378121',
  'default_profile': True,
  'default_profile_image': False,
  'following': None,
  'follow_request_sent': None,
  'notifications': None},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'is_quote_status': False,
 'extended_tweet': {'full_text': 'Em pleno dia internacional da mulher, o machista Bolsonaro diz que vai se filiar ao Partido da Mulher Brasileira, que apesar do nome √© dirigido por homens.',
  'display_text_range': [0, 155],
  'entities': {'hashtags': [],
   'urls': [],
   'user_mentions': [],
   'symbols': []}},
 'quote_count': 4,
 'reply_count': 5,
 'retweet_count': 31,
 'favorite_count': 184,
 'entities': {'hashtags': [],
  'urls': [{'url': 'https://t.co/eAY54hEDB5',
    'expanded_url': 'https://twitter.com/i/web/status/1368919163528417280',
    'display_url': 'twitter.com/i/web/status/1‚Ä¶',
    'indices': [117, 140]}],
  'user_mentions': [],
  'symbols': []},
 'favorited': False,
 'retweeted': False,
 'filter_level': 'low',
 'lang': 'pt'}

In [8]:
# o indice do retweeted

primeiroTweet['retweeted_status']['entities']['urls'][0]['indices'][0]

117

#### <center> Transformando os Tweets </center>

In [9]:
#transformado os tweets em uma estrutura relacional

dadoT = pd.DataFrame(primeiroTweet)

In [10]:
dadosLinhaI = pd.DataFrame(primeiroTweet).reset_index(drop=True).iloc[:1]
dadosLinhaI

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,quote_count,reply_count,retweet_count,favorite_count,entities,favorited,retweeted,filter_level,lang,timestamp_ms
0,Mon Mar 08 17:15:09 +0000 2021,1368973577890979846,1368973577890979846,RT @ThiagoResiste: Em pleno dia internacional ...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,None,None,None,None,...,0,0,0,0,NaN,False,False,low,pt,1615223709925

In [11]:
dadosLinhaI.columns

Index(['created_at', 'id', 'id_str', 'text', 'source', 'truncated',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str',
       'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place',
       'contributors', 'retweeted_status', 'is_quote_status', 'quote_count',
       'reply_count', 'retweet_count', 'favorite_count', 'entities',
       'favorited', 'retweeted', 'filter_level', 'lang', 'timestamp_ms'],
      dtype='object')

In [12]:
dadosLinhaI.drop(columns = ['quote_count', 'reply_count', 'retweet_count', 'favorite_count',
                            'favorited', 'retweeted'
                           
                           ], inplace=True)

In [13]:
dadosLinhaI.drop(columns = ['user', 'entities', 'retweeted_status'], inplace=True)

In [14]:
dadosLinhaI.columns

Index(['created_at', 'id', 'id_str', 'text', 'source', 'truncated',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str',
       'in_reply_to_screen_name', 'geo', 'coordinates', 'place',
       'contributors', 'is_quote_status', 'filter_level', 'lang',
       'timestamp_ms'],
      dtype='object')

In [15]:
primeiroTweet['user']

{'id': 1110181345,
 'id_str': '1110181345',
 'name': '‚ôàÔ∏è Eri Leite \uf8ff',
 'screen_name': 'eri_leite',
 'location': None,
 'url': None,
 'description': 'üïâÔ∏è Quem √± segue cai fora *#SDV. *DM DESATIVADA* No #Unf ‚ù§Ô∏è\xa0Sinto muito me perdoa, eu te amo, sou grata! ‚ù§Ô∏è Ah, nasci esquerda! üïâÔ∏è Aqui RTs √© endosso!',
 'translator_type': 'none',
 'protected': False,
 'verified': False,
 'followers_count': 27622,
 'friends_count': 24505,
 'listed_count': 37,
 'favourites_count': 17920,
 'statuses_count': 170964,
 'created_at': 'Mon Jan 21 22:14:16 +0000 2013',
 'utc_offset': None,
 'time_zone': None,
 'geo_enabled': True,
 'lang': None,
 'contributors_enabled': False,
 'is_translator': False,
 'profile_background_color': 'C0DEED',
 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
 'profile_background_tile': False,
 'profile_link_color': '0084B4',
 'profile_sidebar_border_color': 'C0DEED',
 'profile_sidebar_fill_color': 'DDEEF6',
 'profile_text_color': '333333',
 'profile_use_background_image': False,
 'profile_image_url': 'http://pbs.twimg.com/profile_images/723538545785344001/w5J-JpYD_normal.jpg',
 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/723538545785344001/w5J-JpYD_normal.jpg',
 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1110181345/1461351664',
 'default_profile': False,
 'default_profile_image': False,
 'following': None,
 'follow_request_sent': None,
 'notifications': None}

In [16]:
dadosLinhaI['user_id'] = primeiroTweet['user']['id']
dadosLinhaI['id_str'] = primeiroTweet['user']['id_str']
dadosLinhaI['name'] = primeiroTweet['user']['name']
dadosLinhaI['screen_name'] = primeiroTweet['user']['screen_name']
dadosLinhaI['description'] = primeiroTweet['user']['description']
dadosLinhaI['followers_count'] = primeiroTweet['user']['followers_count']
dadosLinhaI['friends_count'] = primeiroTweet['user']['friends_count']
dadosLinhaI['created_at'] = primeiroTweet['user']['created_at']

In [17]:
primeiroTweet['entities']

{'hashtags': [],
 'urls': [],
 'user_mentions': [{'screen_name': 'ThiagoResiste',
   'name': 'Thiago Brasil',
   'id': 1270774020808626176,
   'id_str': '1270774020808626176',
   'indices': [3, 17]}],
 'symbols': []}

In [18]:
user_mentions = []
for i in range(len(primeiroTweet['entities']['user_mentions'])):
    dicionariobase = primeiroTweet['entities']['user_mentions'][i].copy()
    dicionariobase.pop('indices', None)
    df = pd.DataFrame(dicionariobase, index=[0])
    df = df.rename(columns = {
        'screen_name' : 'entities_screen_name',
        'name' : 'entities_name',
        'id' : 'entities_id',
        'id_str' : 'entities_id_str'
    })
    user_mentions.append(df)

In [19]:
dfs = []
for i in user_mentions:
    dfs.append(pd.concat([dadosGeral.copy(),i], axis=1))

TypeError: cannot concatenate object of type '<class 'list'>'; only Series and DataFrame objs are valid

In [ ]:
pd.concat(dfs, ignore_index=True)

#### <center> Trabalhando com fun√ß√µes </center>

In [20]:
def tweet_para_dataframe(tweet):
    try:
        dadosLinhaI = pd.DataFrame(tweet).reset_index(drop=True).iloc[:1]
        dadosLinhaI.drop(columns = ['quote_count', 'reply_count', 'retweet_count', 'favorite_count',
                                'favorited', 'retweeted', 'user', 'entities', 'retweeted_status'], inplace=True)
        dadosLinhaI['user_id'] = tweet['user']['id']
        dadosLinhaI['id_str'] = tweet['user']['id_str']
        dadosLinhaI['name'] = tweet['user']['name']
        dadosLinhaI['screen_name'] = tweet['user']['screen_name']
        dadosLinhaI['description'] = tweet['user']['description']
        dadosLinhaI['followers_count'] = tweet['user']['followers_count']
        dadosLinhaI['friends_count'] = tweet['user']['friends_count']
        dadosLinhaI['created_at'] = tweet['user']['created_at']

        user_mentions = []

        for i in range(len(tweet['entities']['user_mentions'])):
                dicionariobase = tweet['entities']['user_mentions'][i].copy()
                dicionariobase.pop('indices', None)
                df = pd.DataFrame(dicionariobase, index=[0])
                df = df.rename(columns = {
                    'screen_name' : 'entities_screen_name',
                    'name' : 'entities_name',
                    'id' : 'entities_id',
                    'id_str' : 'entities_id_str'
                })
                user_mentions.append(df)

        dfs = []
        for i in user_mentions:
            dfs.append(pd.concat([dadosLinhaI.copy(),i], axis=1))

        df_final = pd.concat(dfs, ignore_index=True)
        
    except:
        return None
    
    return df_final

In [21]:
tweet_para_dataframe(dadosGeral[11])

#### <center> Itera√ß√£o e Transformando os dataframes </center>

In [22]:
%%time
parseados = [tweet_para_dataframe(tweet) for tweet in dadosGeral]

Wall time: 5min 30s

In [23]:
%%time
parseados = [i for i in parseados if i is not None]

Wall time: 4 ms

In [24]:
len(parseados)

12558

In [25]:
dados = pd.concat(parseados, ignore_index=True)
dados

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,entities_screen_name,entities_name,entities_id,entities_id_str,possibly_sensitive,quoted_status_id,quoted_status_id_str,quoted_status,quoted_status_permalink,extended_entities
0,Mon Jan 21 22:14:16 +0000 2013,1368973577890979846,1110181345,RT @ThiagoResiste: Em pleno dia internacional ...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,None,None,None,None,...,ThiagoResiste,Thiago Brasil,1270774020808626176,1270774020808626176,NaN,NaN,NaN,NaN,NaN,NaN
1,Fri Aug 07 21:50:55 +0000 2009,1368973578813718536,63835235,"RT @g1: Olinda Bolsonaro, de 93 anos, recebeu...","<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,g1,G1,8802752,8802752,False,NaN,NaN,NaN,NaN,NaN
2,Tue Mar 31 00:01:13 +0000 2009,1368973579375828993,27765536,RT @Rconstantino: ü§ê,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,Rconstantino,Rodrigo Constantino,33520195,33520195,NaN,1.368944e+18,1368944159801872394,1368944159801872394,NaN,NaN
3,Tue Apr 24 05:37:40 +0000 2012,1368973580541825035,561837708,"RT @UOL: Ciro Gomes: ""O PT √© o que tem menor c...","<a href=""https://mobile.twitter.com"" rel=""nofo...",False,None,None,None,None,...,UOL,UOL,70799317,70799317,NaN,NaN,NaN,NaN,NaN,NaN
4,Mon Sep 07 02:57:40 +0000 2009,1368973582588579846,72188581,"RT @jnflesch: Achei que era piada, mas parece ...","<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,jnflesch,Jos√© Norberto Flesch,26426132,26426132,NaN,1.368882e+18,1368882126045777921,1368882126045777921,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14026,Mon Jan 22 03:12:47 +0000 2018,1368992406356557825,955277033420058625,"RT @UOLNoticias: Ciro Gomes: ""Bolsonaro √© um f...","<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,UOLNoticias,UOL Not√≠cias,14594698,14594698,NaN,NaN,NaN,NaN,NaN,NaN
14027,Sun May 26 22:27:19 +0000 2019,1368992409145729026,1132775245897699328,"RT @opiniaoredetv: ""A opini√£o de que o preside...","<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,opiniaoredetv,Opini√£o no Ar,1312414394425511936,1312414394425511936,NaN,NaN,NaN,NaN,NaN,NaN
14028,Sat May 02 17:01:49 +0000 2009,1368992409670008835,37235171,RT @alessandromolon: - Maior infla√ß√£o dos √∫lti...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,alessandromolon,Alessandro Molon üáßüá∑,45953391,45953391,NaN,NaN,NaN,NaN,NaN,NaN
14029,Sun Apr 19 13:44:59 +0000 2020,1368992410496339971,1251869359691227148,RT @MarleneFFL: Presidente Bolsonaro Ultrapass...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,MarleneFFL,MFFL RJ üáßüá∑ Deus P√°tria Lealdade Q üáßüá∑üá∫üá≤,36373308,36373308,False,NaN,NaN,NaN,NaN,NaN
14030,Sun Dec 21 22:16:56 +0000 2008,1368992411196813319,18294112,RT @PDT_Nacional: ATEN√á√ÉO! O PDT acaba de entr...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,PDT_Nacional,PDT 12,180500907,180500907,NaN,NaN,NaN,NaN,NaN,NaN

#### <center> Gravando em uma tabela relacional (MySQL) </center>

In [63]:
#engine = sqlalchemy.create_engine(f"mysql+pymysql://{user}:{passwd}@localhost/bootcamp_eng_dados?charset=utf8mb4")
path:input(""""entre com a formata√ß√£o do cainho para a sua conex√£o com MySQL, conforme abaixo:
mysql+pymysql://{user}:{passwd}@localhost/bootcamp_eng_dados?charset=utf8mb4""")
engine = sqlalchemy.create_engine(
    f"{path}"

)

In [64]:
dados.to_sql('tweets', con = engine, index=False, if_exists='append')